@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
.fondoamarillo {
    background-color: #fcee21;
    width: 328.606px;
}
 .gris {
    color: #808080;
    font-size: 25.837px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }

 .black {
    background-color: #000;
    color: #fff;
    font-size: 50.579px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    background-color: #f2f2f2;
    color: #333;
    font: 400 24px 'Roboto', sans-serif;

}

header p {
    font-size: 24px;
}

h1 strong {
    font-family: 'Coiny', cursive;
    font-size: 88.28px;
    text-decoration: underline;
}


.backyellow {
    background-color: #fcee21;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    
}

header h1 {
    font-size: 48px;
}


h2 {
    font-size: 20px;
    background-color: #fcee21;
}

h3 {
    font-size: 26.42px;
    background-color: #fcee21;

}


section p {
    font-size: 22px
}


footer {
    
    background-color: #fcee21;
}

span {
    color: #ff0000;
}

label {
    display: block;
    margin-bottom: 5px;
}
.name {
    width: 534.12px;
height: 54.323px;
flex-shrink: 0;
}
.email {
    width: 535.287px;
height: 55.377px;
flex-shrink: 0;
}

.flex {
    display: flex;
}

aside {
    margin: 30px;
}
.mensaje{
    width: 534.12px;
    height: 173.975px;
    flex-shrink: 0;
}
.boton_negro_enviar {
    width: 281.512px;
height: 51.513px;
flex-shrink: 0;
margin-top: 35px;
margin-right: 106.67px;
}

.boton_negro_borrar {
    width: 147.107px;
    height: 51.513px;
    flex-shrink: 0;
    margin-top: 35px;
}

input {
    height: 40px;
    width: 100%;
}
textarea{
    width: 100%;
}
form {
    margin: auto;
}
footer h1 {
    font-size: 33.001px;
    margin-left: 142px;
    font-family: 'Coiny', cursive;
    color: #000;
}

section {
    width: 45%;
}

h4 {
    font-size: 40.857px;
    margin: auto;
    margin-bottom: 62px;
}



a {
    color: black;
    text-decoration: none;

    font-weight: bold;
}

nav a, footer a {
    margin-left: 20px;
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: end;
}

ol li {
    margin-bottom: 22.24px;
}

nav a:hover { text-decoration: underline;

}

ol {
    font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28px;
list-style-position: inside;


}
nav {
    margin: 1em;
}

nav a {
    text-transform: capitalize;
}

#instagram {
    width: 117.513px;
    height: 106.143px;
    flex-shrink: 0;
}

#dribbble{
    width: 117.513px;
    height: 106.143px;
    flex-shrink: 0;
}

#linkedin{
    width: 116.897px;
    height: 106.143px;
    flex-shrink: 0;
}
#facebook {
    width: 115.208px;
    height: 104.062px;
    flex-shrink: 0;
}

#imagen {
    width: 552px;
    height: 537px;
    flex-shrink: 0;
}
#logo {
    width: 240.785px;
    height: 56.193px;
    flex-shrink: 0;
}